[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
setuptools = "*"
twine = "*"
scimschema = {editable = true, path = "src"}
mypy = "*"
isort = "*"
pytest-cov = "*"
black = "*"

[scripts]
tests = "pytest"
checkstyle = "black . --check"
checkimport = "isort . --check"
checksyntax = "mypy ./src/scimschema"
build = "python src/setup.py sdist bdist_wheel"
deploy = "twine upload dist/* -r testpypi"

[pipenv]
allow_prereleases = true
